@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;708;800&family=Rubik:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Rubik', sans-serif;
  background-color: #2554AC;
  cursor: url(./img/cursordefault.png), auto;
}


h2 {
  text-align: center;
  margin-top: 2em;
  color: rgb(209, 209, 1);
  font-size: 5em;
  transition: 2s;
}

h2::selection{
  background:rgb(209, 209, 1);
}

h4 {
  text-align: center;
  margin-bottom: 1em;
  color: #ffff;
  font-size: 2em;
  transition: 2s;
}

h4 :hover {
  background-color: rgb(209, 209, 1);
  transition: calc(1s);
  text-decoration: underline;
  cursor: url(./img/cursorpointer.png), auto;
}

h4 .a{
  transition: 7s;
}


.container {
  padding: 32px;
  right: 0;
}


.select-box {
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  cursor: url(./img/cursorpointer.png), auto;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
  cursor: url(./img/cursordefault.png), auto;
}


.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
  cursor: url(./img/cursordefault.png), auto;
}

.selected::after {
  content: "";
  background: url("./img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
  background: #2f3640;
  cursor: url(./img/cursorpointer.png), auto;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
  background: #2f3640;
}

.select-box .option .radio {
  display: none;
}


.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
  cursor: url(./img/cursorpointer.png), auto;
}

.github-corner svg {
  color: #fff;
  fill: var(--theme-color,#cfd300);
  height: 100px;
  width: 100px;
  cursor: url(./img/cursorpointer.png), auto;
}

.canvas_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  background-color: #fff;
}